version: '3.8'
services:
  mongodb:
    image: mongo:6.0
    container_name: upi-backend-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: upi_backend_db

volumes:
  mongo_data:
    driver: local
